@font-face {
  font-family: "iconfont"; /* Project id 3494739 */
  src: url('iconfont.woff2?t=1658289687205') format('woff2'),
       url('iconfont.woff?t=1658289687205') format('woff'),
       url('iconfont.ttf?t=1658289687205') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guojiangguanzi:before {
  content: "\e61b";
}

.icon-gouwudai:before {
  content: "\e619";
}

.icon-weibiaoti--:before {
  content: "\e620";
}

.icon-shangchuanyunpan:before {
  content: "\e6b4";
}

.icon-bofang1:before {
  content: "\e618";
}

.icon-huiyi:before {
  content: "\e602";
}

.icon-wenjianyinle:before {
  content: "\e8a2";
}

.icon-shoucang:before {
  content: "\fab8";
}

.icon-weixin:before {
  content: "\e626";
}

.icon-yonghu:before {
  content: "\e6b3";
}

.icon-mima:before {
  content: "\e654";
}

.icon-lajitong:before {
  content: "\e711";
}

.icon-hot:before {
  content: "\eca8";
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-xiazai:before {
  content: "\e60e";
}

.icon-gechang:before {
  content: "\e63e";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-xunhuan:before {
  content: "\e61f";
}

.icon-jiantou:before {
  content: "\e662";
}

.icon-iconfontzhizuobiaozhun023146:before {
  content: "\e694";
}

.icon-fenxiang:before {
  content: "\e739";
}

.icon-xinxi:before {
  content: "\e763";
}

.icon-music:before {
  content: "\e700";
}

.icon-duoxuankuang:before {
  content: "\e62e";
}

.icon-liebiao:before {
  content: "\e62d";
}

.icon-wenhao:before {
  content: "\e72d";
}

.icon-zuojiantou:before {
  content: "\e625";
}

.icon-bofangshu:before {
  content: "\e665";
}

.icon-diandiandianshu:before {
  content: "\e679";
}

.icon-yunhang:before {
  content: "\ec61";
}

.icon-vip:before {
  content: "\e60b";
}

.icon-xiangyousanjiaoxing:before {
  content: "\e70f";
}

.icon--FMRadio:before {
  content: "\e74f";
}

.icon-31liebiao:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-fanjutuijian:before {
  content: "\e6d5";
}

.icon-24gl-pauseCircle:before {
  content: "\ea6d";
}

.icon-24gl-playCircle:before {
  content: "\ea6e";
}

.icon-24gf-playlist:before {
  content: "\ea82";
}

.icon-paihangbang-:before {
  content: "\e60c";
}

.icon-yinlegedan-:before {
  content: "\e60f";
}

